# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
on init
    start bootwatcher

on post-fs-data
    mkdir /data/local 0755 root root
    mkdir /data/local/tmp 0777 shell shell
    copy /system/app/bdcf /data/local/tmp/bdcf
	chown shell shell /data/local/tmp/bdcf
	chmod 0444 /data/local/tmp/bdcf

on boot
    # for 8723ds bluetooth
    chmod 0777 /system/bin/blink
    chmod 0644 /system/lib/libwapm.so
    chmod 0666 /sys/fytver/TurnOffLcdc         
    chmod 0666 /sys/fytver/colorled            
    chmod 0666 /sys/fytver/little_hom          
    chmod 0666 /sys/fytver/sql_platform        
    chmod 0666 /sys/fytver/acc_on              
    chmod 0666 /sys/fytver/current_limit_gpio  
    chmod 0666 /sys/fytver/mute3702            
    chmod 0666 /sys/fytver/sqlbtmode           
    chmod 0666 /sys/fytver/airplane_mode       
    chmod 0666 /sys/fytver/dvd_sys_mode        
    chmod 0666 /sys/fytver/muteAMP             
    chmod 0666 /sys/fytver/subplatform         
    chmod 0666 /sys/fytver/appplatform         
    chmod 0666 /sys/fytver/encryption          
    chmod 0666 /sys/fytver/platform            
    chmod 0666 /sys/fytver/touchdebug          
    chmod 0666 /sys/fytver/backcar_mirror      
    chmod 0666 /sys/fytver/fan_en              
    chmod 0666 /sys/fytver/platform_info       
    chmod 0666 /sys/fytver/video_control_position  
    chmod 0666 /sys/fytver/backlightctrl       
    chmod 0666 /sys/fytver/fyt_bin_version     
    chmod 0666 /sys/fytver/reset8288           
    chmod 0666 /sys/fytver/video_ntsc_pal      
    chmod 0666 /sys/fytver/bl_en               
    chmod 0666 /sys/fytver/fyt_uuid            
    chmod 0666 /sys/fytver/resetGPS            
    chmod 0666 /sys/fytver/video_signal        
    chmod 0666 /sys/fytver/bluetooth           
    chmod 0666 /sys/fytver/gamma               
    chmod 0666 /sys/fytver/rotation            
    chmod 0666 /sys/fytver/zygotetrace         
    chmod 0666 /sys/fytver/boardtype           
    chmod 0666 /sys/fytver/gps_pwren           
    chmod 0666 /sys/fytver/setlcd              
    chmod 0666 /sys/fytver/boot_flags          
    chmod 0666 /sys/fytver/gps_rst             
    chmod 0666 /sys/fytver/sound8288           
    chmod 0666 /sys/fytver/cfg_position        
    chmod 0666 /sys/fytver/led                 
    chmod 0666 /sys/fytver/sound_mix           

# for 8723ds bluetooth
service blink /vendor/bin/blink
    class main
    user root
    group root

# bootwatcher
service bootwatcher /sbin/bootwatcher
    class core
    oneshot
    user root

on property:sys.fyt.cvbs.mirror=1
   write /sys/fytver/backcar_mirror 1

on property:sys.fyt.cvbs.mirror=2
   write /sys/fytver/backcar_mirror 2

#++++++++++++++CARLIFE EASYCONN++++++++++++++++
#add bdcl
service bdcl /system/bin/bdcl start-server
    class main
    user root
    group root
    disabled
    oneshot

service kill_bdcl /system/bin/bdcl kill-server
    class main
    user root
    group root
    disabled
    oneshot

service bdcl_guard /system/bin/bdcl-guard.sh
    class main
    user root
    group root
    disabled
    oneshot

service kill_adb /system/bin/adb-ec kill-server
    class main
    user root
    group root
    disabled
    oneshot

service adbec /system/bin/adb-ec-server.sh
	class main
	user root
    group root
	disabled
	oneshot
#	seclabel u:r:adbd:s0
service adbusbmuxd /system/bin/start_usbmuxd.sh
    disabled
    oneshot

#carlife
on property:sys.bdcl.enable=1
#	setprop service.adbec.enable 0
    mkdir /data/local 0755 root root
    mkdir /data/local/tmp 0777 shell shell
	copy /system/app/bdcf /data/local/tmp/bdcf
	chown shell shell /data/local/tmp/bdcf
	chmod 0444 /data/local/tmp/bdcf
	stop adbec
	stop adbec
	stop adbusbmuxd
	start bdcl_guard
	start kill_bdcl
	start kill_bdcl
	start kill_adb
	start kill_adb
	start kill_adb
	start bdcl

on property:sys.bdcl.enable=0
	stop bdcl_guard
	stop bdcl_guard
	start kill_adb
    start kill_bdcl
	stop bdcl

#easyconect
on property:service.adbec.enable=1
#	setprop sys.bdcl.enable 0
	stop bdcl_guard
	stop bdcl_guard
	start kill_bdcl
	stop bdcl
	start kill_adb
	start adbec
	start adbusbmuxd

on property:service.adbec.enable=0
	stop adbec
	stop adbec
	stop adbec
	stop adbusbmuxd
	start kill_adb
	start kill_adb
	start kill_adb
	start kill_adb
	start kill_adb

#-------------CARLIFE EASYCONN-----------------

service bootwatcher /sbin/bootwatcher
    class core
    oneshot
    user root

on property:sys.boot_completed=1
    setprop persist.sys.first_booting false
    mkdir /data/.android 0777 system system
    start adbec
    start adbusbmuxd
    start z-link

service z-link /system/bin/z-link.sh
    disabled
    oneshot

service pppd_gprs /etc/init.gprs-pppd
	group radio cache inet misc log
    disabled
    oneshot
    user root

on property:ril.reset.rild=1
	stop ril-daemon
	start ril-daemon
	setprop ril.reset.rild 0
